doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href=cssfile)
        title= title
    body 
        h1= message
        div(class='buttons-div')
            button Ligar LED 
            button Desligar LED
        
        script(src=jsfile) 